html, body, .container-fluid, .row {min-height: 100%;}


.welcome {
    height: 100vh;
    background-color: #fff7e7;
}

.welcome-header {
    background-color: #9900FF !important;
    color: #FEF1D8;
}

.imgMe {
    max-height: 200px;
    max-width: 200px;
    height: auto;
    width: auto;
    margin-top: 2%;
}

.header-text {
    text-align: center;
    display: block;
}

.btn-header {
    background-color: #9900FF;
    border-width: 2px;
    border-color: #FEF1D8;
    margin-bottom: 10%;
}

.bottom-text-welcome {
    text-align: center;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.about {
    min-height: 80vh;
    max-height: 200vh;
    background-color: #f39c12 ;
}
.about-header {
    background-color: #f39c12 !important;
    color: #fff7e7;
    min-height: 20vh;
    max-height: 25vh;
}

.left hr {
    color: #f39c12;
    border-color: #f39c12;
    background-color: #f39c12;
}

.padded-text-about {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    text-align: center;
    color: #fff7e7;
}

.experience-header {
    background-color: #66FF33 !important;
    color: #fff7e7 ;
    padding-bottom: 1%;
    height: 20vh;
}

.experience {
    min-height: 80vh;
    background-color: #66FF33;
}

.experienceCard {
    margin: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
    padding: 15px;
}

.role {
    height: 25vh;
}

.projects-header {
    background-color: #9900FF !important;
    color: #fff7e7;
    padding-bottom: 1%;
    height: 20vh;
}
.projects {
    height: 70vh;
    background-color: #9900FF ;
}
.about-bottom {
    background-color: #fff7e7;
    height: 10vh;
    text-align: center;
}

.svg-colour {
    fill: #FEF1D8
}

.bottom-text h1 {
    font-size: 4em;
    margin-bottom: 10%;
}
.about-bottom h1 {
    font-size: 4em;
    margin-bottom: 2%;
}
.vl {
    border-right: 6px solid green;
    height: 100%;
}
.saved {
    background-color: #FEF1D8;
}
